.footer {
    background-color: #F8F8F8;
    margin-top: 160px;
    padding: 56px 0;

    &__head {
        max-width: 1120px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 2px solid rgba(37, 36, 32, 0.5);
    }

    &__sotial {
        display: flex;
        align-items: center;
    }

    &__head-img--link-tg {
        margin-right: 16px;
    }

    &__head-img--link-face {
        margin-right: 16px;
    }

    &__head-img {
        transition: all 0.3s ease-in-out;
    }

    &__head-img:hover {
        margin-bottom: 15px;
    }

    &__foot {
        max-width: 1120px;
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
    }

    &__foot-list--item {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 16px;
    }

    &__foot-list--item:last-child {
        margin: 0;
    }
}


.link {
    color: #252420;
}

.link:hover {
    color: #FF7500;
    text-decoration: underline;
}
